<div nz-menu-item (click)="showModal()">
  <i nz-icon nzType="bell" class="mr-sm"></i>修改密码
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="修改密码" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <small class="form-text text-success" *ngIf="success">
      修改成功!
    </small>
    <small class="form-text text-danger" *ngIf="error">
      原密码错误!
    </small>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="currentPassword" nzRequired>原密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input maxlength="255" type="password" id="currentPassword" formControlName="currentPassword"
               (ngModelChange)="updateConfirmValidator()">
        <nz-form-explain
          *ngIf="validateForm.get('currentPassword').dirty && validateForm.get('currentPassword').errors">请输入原密码!
        </nz-form-explain>
        <nz-form-explain *ngIf="compare">{{compare}}</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="newPassword" nzRequired>新密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input maxlength="255" type="password" formControlName="newPassword" id="newPassword">
        <nz-form-explain *ngIf="validateForm.get('newPassword').dirty && validateForm.get('newPassword').errors">
          <nz-form-explain *ngIf="validateForm.get('newPassword').dirty && validateForm.get('newPassword').errors">
            请输入新密码!
          </nz-form-explain>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="confirmPassword" nzRequired>确认新密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input maxlength="255" type="password" formControlName="confirmPassword" id="confirmPassword">
        <nz-form-explain
          *ngIf="validateForm.get('confirmPassword').dirty && validateForm.get('confirmPassword').errors">
          <ng-container *ngIf="validateForm.get('confirmPassword').hasError('required')">
            请输入确认新密码!
          </ng-container>
          <ng-container *ngIf="validateForm.get('confirmPassword').hasError('confirm')">
            两次输入的密码不一致!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
