<nz-card nzTitle="系统登录">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
    <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'请输入用户名!'">
        <nz-input-group nzSize="large" nzPrefixIcon="user">
          <input nz-input formControlName="username" placeholder="用户名"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="'请输入密码!'">
        <nz-input-group nzSize="large" nzPrefixIcon="lock">
          <input nz-input type="password" formControlName="password" placeholder="密码"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="rememberMe">自动登录</label>
      </nz-col>
    </nz-form-item>
    <nz-form-item>
      <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock>
        登录
      </button>
    </nz-form-item>
  </form>
</nz-card>
