<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.png">
        <span class="title">BI 门户</span>
      </div>
<!--      <div class="desc">&nbsp;</div>-->
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      &nbsp;
<!--      版权所有-->
<!--      <i nz-icon nzType="anticon-copyright"></i> 2019-->
<!--      <a href="//www.gilight.cn" target="_blank">精华教育</a>出品-->
    </global-footer>
  </div>
</div>
